.Header {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0 10px 0;
}

.Header button {
    margin: 0px 5px 0 5px;
    font-size: 15px;
    padding: 0 10px;
}

.ActiveButton {
    background: #fefefe;
}